@import '../../../Vars.scss';

.page-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0 30px 0 0;
    
    span {
        margin-right: 40px;
        font-size: $fontsize-regular;
        font-family: $fontfamily-bold;

        &:hover {
            cursor: pointer;
            color: #717171;
        }
    }
}