@import '../../../Vars.scss';

.session-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .detail-container {
        position: relative;
        margin-left: $standard-spacing;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            background-color: #f5f5f5;
        }

        .badge {
            display: none;
        }

        &.show {
            background: $colour-grey;
            cursor: pointer;

            &:hover {
                background: $colour-grey-lighter;
            }

            .badge {
                display: flex;
                position: absolute;
                top: -5px;
                right: -5px;
                height: 17px;
                width: 17px;
                background-color: $colour-highlight;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
    
                span {
                    font-size: $fontsize-tiny;
                }
            }
        }
    }
}