@import '../../Vars.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: $standard-spacing;

    .child {
        flex: 1;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo-icon {
            font-size: 30px;
            margin-top: 14px;
            margin-bottom: -14px
        }

        .brand-name {
            font-size: 60px;
            font-family: $fontfamily-fancy;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        flex-direction: column;

        .brand {
            order: 1;
            .logo {
                .brand-name {
                    margin-bottom: -10px;
                }
            }
        }
        .links {
            margin: 24px 0;
            order: 2;
        }
        .session {
            margin: 12px 0;
            order: 3;
        }
    }
}