@import '../../../Vars.scss';

.product-info {
    .product-heading-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3 {
            font-family: $fontfamily-bold;
            font-size: 27px;
        }
        .favourite-button {
            background: $colour-grey;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
                background: $colour-grey-lighter;
            }

            &.favourited {
                color: #de4765;
            }
        }
    }
    .description {
        font-size: $fontsize-regular;
    }
    .price {
        font-size: $fontsize-large;
        font-family: $fontfamily-bold;
    }
    .review-container {
        display: flex;
        flex-direction: row;
        font-size: $fontsize-small;

        a.reviews {
            margin-left: $standard-spacing;
            color: black;
            font-family: $fontfamily-bold;
            &:hover {
                color: $colour-highlight;
            }
        }
    }
    p.disclaimer {
        margin: 5px 0 0 0;
        font-size: $fontsize-small;
    }
    .buttons-container {
        display: flex;
        flex-direction: row;
        margin: $standard-spacing 0;
    }
    .details-container {
        font-size: $fontsize-small;

        a {
            display: block;
            color: black;
        }

    }
}

@media only screen and (max-width: 1024px) {
    .product-info {
        .product-heading-container {
            .favourite-button {
                height: 40px;
                width: 40px;
            }
        }
    }
}