@import '../../../Vars.scss';

.product-details {
    display: flex;
    flex-direction: row;

    .product-media, .product-info {
        flex: 1;
        margin: 0 $standard-spacing;
    }
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 900ms linear;
}

.fade-enter {
    opacity: 0;
    &.fade-enter-active {
        opacity: 1;
        transition: opacity 900ms linear;
    }
}

.fade-exit {
    opacity: 1;

    &.fade-exit-active {
        opacity: 0;
        transition: opacity 900ms linear;
    }
}

.fade-exit-done {
    opacity: 0;
}

@media only screen and (max-width: 1024px) {
    .product-details {
        margin: 0 12px;
        flex-direction: column;

        .product-media {
            margin: 0;
        }

        .product-info {
            margin: 12px 0;
        }
    }
}