@import '../../../Vars.scss';

.product-details {
    display: flex;
    flex-direction: row;

    .product-media, .product-info {
        flex: 1;
        margin: 0 $standard-spacing;
    }
}

@media only screen and (max-width: 1024px) {
    .product-details {
        margin: 0 12px;
        flex-direction: column;

        .product-media {
            margin: 0;
        }

        .product-info {
            margin: 12px 0;
        }
    }
}