@import '../../../Vars.scss';

.product-details {
    display: flex;
    flex-direction: row;

    .product-media {
        flex: 1;
        box-sizing: border-box;
        margin: 0 $standard-spacing;
    }

    .product-info {
        flex: 1;
        box-sizing: border-box;
        margin: 0 $standard-spacing;
    }
}