@font-face {
    font-family: 'OpenSans-Light';
    src: url('~assets/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('~assets/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'DancingScript';
    src: url('~assets/DancingScript.ttf') format('truetype');
}

$fontsize-large: 32px;
$fontsize-regular: 15px;
$fontsize-small: 12px;
$fontsize-tiny: 10px;

$standard-spacing: 12px;

$fontfamily: 'OpenSans-Light';
$fontfamily-bold: 'OpenSans-SemiBold';
$fontfamily-fancy: 'DancingScript';

$colour-grey: #ececec;
$colour-highlight: #f29822;
$colour-grey-lighter: #dcdcdc;

$page-width: 1200px;

* {
    font-family: 'OpenSans-Light';
}